@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

$default-font-family: 'Oxygen', sans-serif;

body {
    font-family: $default-font-family;
    color: $highlight-color;
}

@mixin font($size, $weight: normal, $family: $default-font-family) {
  font-size: $size;
  font-family: $family;
  font-weight: $weight;
}

@for $i from 8 to 64 {
  .sz-#{$i} {
    @include font($i + px);
  }

  .sz-b-#{$i} {
    @include font($i + px, 700);
  }

  .sz-l-#{$i} {
    @include font($i + px, 100);
  }
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.t-a-c {
  text-align: center;
}
.t-a-l {
  text-align: left;
}
.t-a-r {
  text-align: right;
}

.t-hl {
    color: $secondary-color;
}